@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  body {
    @apply bg-black;
    color: black
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}
 
.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}

progress.progress-bar::-webkit-progress-bar {
  background-color: transparent;
}

progress.progress-bar::-webkit-progress-value {
  background-image: linear-gradient(to right, #E40DB5, #E851EB);
  border-radius: 9999px; /* A large px value will create a rounded effect */
}

/* For Firefox */
progress.progress-bar::-moz-progress-bar {
  background-image: linear-gradient(to right, #E40DB5, #E851EB);
  border-radius: 9999px; /* A large px value will create a rounded effect */
}
